*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    outline: 1px dashed black;
    width: 250px;
    height: 610px;
    background-color: rgb(176, 82, 0);
}

#red{
    background-color: rgb(255, 0, 0);
    width:200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
}
#yellow{
    background-color: yellow;
    width:200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
}
#green{
    background-color: green;
    width:200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
}
